.Active{
    font-size: 35px;
    font-style: initial;
    background-color: rgb(238, 169, 196);
}
.Act{
    font-size: 20px;
    font-style: initial;
    background-color: rgb(77, 165, 42);
}
.Act1{
    font-size: 20px;
    font-style: initial;
    background-color: rgb(42, 50, 165);
}